@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('./check.css');

:root {
  --primary: #3eb0ef;
}

::placeholder, .placeholder {
  color: #6c757d!important;
}

body {
  /* font-family: 'Overpass', sans-serif; */
  font-family: 'Lato', sans-serif;
  color: #343f44;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.5rem;
}

.sidebar-heading {
  text-transform: uppercase;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar .nav-link {
  font-size: 1rem;
  color: #333;
  margin-left: -1.5rem;
  padding-left: calc(1.5rem - 5px);
  border-left: transparent solid 5px;
}

.sidebar .nav-link.active {
  border-color: var(--primary);
}

.account-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.account-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account-info .blog-title {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.story:not(:first-of-type) {
  margin-top: 1rem;
}

.story:hover {
  border-color: var(--primary);
  cursor: pointer;
}

.skeleton-team-list .list-group-item:hover {

}

.blankslate {
  text-align: center;
  padding: 5rem;
}

.blankslate h3 {
  margin: 0;
}

@media (min-width: 3440px) {

  .col-uw-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-uw-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
}

.page-link:focus {
    box-shadow: none;
}

.event-date-picker>input:first-of-type {
   border-radius: .25rem 0 0 .25rem;
   border-width: 1px 0 1px 1px;
}

.event-date-picker>input:last-of-type {
  border-radius: 0 .25rem .25rem 0;
}

.story:not(:first-of-type) {
  margin-top: 1rem;
}

.story {
  color: inherit;
}

.story:hover {
  color: inherit;
  text-decoration: none;
  border-color: var(--primary);
}

.event:not(:first-of-type) {
  margin-top: 1rem;
}

/* Spinner */
.spinner {
  margin: auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}
/* Spinner end */